*{
    color:#000;
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

.Background{
    background-color:rgba(243,243,243,1);
    background-repeat: repeat-x;
    padding: 3% 10% 0 12%;
    display: flex;
    flex-wrap: wrap;
}

.TypeName{
    list-style:square;
    font-size: 17px;
    line-height: 120%;
    margin-bottom: 0;
}

.Lists{
    list-style: square;
    font-size: 13px;
    line-height: 270%;
    padding-left: 1%;
}
.Wrap{
    width: 100%;
}