.headerWrapper {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.8rem;
  position: sticky;
  top: 0;
  background-color: white;
}

.isScrolled {
  border-bottom: 1px solid #c4c4c4;
}

.headerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerName {
  padding-left: 0.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
}

.headerLinkList {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.headerLinkItem > a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
  padding: 0.3rem 0.6rem;
  margin: 0.5rem 0.4rem;
}

.headerLinkItem > a:hover {
  color: #c4c4c4;
}

.headerCurrentLink > a {
  color: white;
  background-color: black;
}

.headerCurrentLink > a:hover {
  color: white;
  background-color: #c4c4c4;
}

.headerSearchIcon {
  padding-top: 3px;
  margin-left: 1rem;
}

.headerSearchIcon:hover {
  cursor: pointer;
}

.headerSearchIcon:hover .tooltip2 {
  display: block;
}

.hiddenview {
  display: flex;
}

.hamburger_view {
  display: none;
}

.tooltip2 {
  display: none;
  position: absolute;
  max-width: 200px;
  right: 2rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: white;
  background-color: #5f5e5c;
}

.moreview {
  display: none;
}

@media screen and (max-width: 868px) {
  .moreview {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .headerWrapper {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.8rem;
    position: sticky;
    top: 0;
    background-color: white;
  }

  .tooltip {
    display: none;
    position: absolute;
    margin-top: 2rem;
    max-width: 200px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background-color: #292a2d;
  }

  .tooltip1 {
    display: none;
    position: absolute;
    max-width: 200px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background-color: #292a2d;
  }

  .isScrolled {
    border-bottom: 1px solid #c4c4c4;
  }

  .hamburger_view {
    display: flex;
    margin-right: 1rem;
  }

  .hamburger_view:hover .tooltip {
    display: block;
  }

  .isScrolled {
    border-bottom: 1px solid #c4c4c4;
  }

  .headerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerLinkList {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }

  .headerSearchIcon {
    padding-top: 3px;
    margin-left: 1rem;
  }

  .headerSearchIcon:hover {
    cursor: pointer;
  }

  .hiddenview {
    display: none;
  }

  .menuview {
    position: absolute;
    width: 40%;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .backview {
    margin: 2rem;
  }

  .backview:hover .tooltip1 {
    display: block;
  }

  .menuview_mobile {
    margin-bottom: 2rem;
    list-style-type: none;
    justify-content: space-evenly;
  }

  .headerLinkItem {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  .shadow_view {
    position: absolute;
    width: 100vh;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    top: 0;
    left: 0;
  }
}
