* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.introBold {
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

.topWord {
  font-size: 48px;
  margin-top: 80px;
  margin-bottom: 100px;
  font-family: "Oswald", sans-serif;
}

.imgfirst {
  width: 63%;
  height: 10%;
  margin-bottom: 10px;
}

.center {
  padding: 0;
  text-align: center;
}

.conceptfirst {
  font-size: 19px;
  margin-bottom: 3%;
}

.titlefirst {
  background-color: #974f59;
  padding-left: 13%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  font-size: 40px;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  
}

.titlefirst2 {
  /* background-color: blue; */
  padding-left: 10rem;
  padding-right: 10rem;
  /* font-family: none; */

}

.imagethree {
  width: 170px;
  height: 170px;
  margin-bottom: 50px;
}

.imagethree2 {
  width: 170px;
  height: 170px;
  margin-bottom: 50px;
}
.imagethree3 {
  width: 170px;
  height: 170px;
  margin-bottom: 50px;
}

.titlesecond {
  padding-bottom: 20px;
  /* text-align: left;  */
  font-size: 25px;
  color: #974f59;
  font-family: "Oswald", sans-serif;
}

.titlesecond2 {
  padding-bottom: 20px;
  /* padding-left : 7%;  */
  /* text-align: center;  */
  font-size: 25px;
  color: #974f59;
  font-family: "Oswald", sans-serif;
}

.titlesecond3 {
  padding-bottom: 20px;
  /* padding-left: 7%;  */
  /* text-align: right;  */
  font-size: 25px;
  color: #974f59;
  font-family: "Oswald", sans-serif;
}

.listfirst {
  font-size: 14px;
  line-height: 25px;
  font-family: sans-serif;
}

.listfirst2 {
  font-size: 14px;
  line-height: 25px;
}

.listfirst3 {
  font-size: 14px;
  line-height: 25px;
}

.subtitle {
  font-size: 20px;
  text-align: left;
  margin-bottom: 1%;
  padding-left: 2%;
  text-align: left;
  color: #974f59;
  font-family: sans-serif;
  font-weight: 900;
}

.lastlists {
  list-style-type: square;
  margin-left: 4%;
  margin-right: 30px;
  padding: 0;
  line-height: 30px;
  text-align: left;
  text-indent: 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.widthsize {
  padding: 0;
}



.indexheader {
  color: #974f59;
  font-family: none;
  margin-bottom: 0;
}

.indexs {
  margin-top: 0;
  font-family: none;
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .indexs {
    /* flex-wrap: wrap; */
    /* display : block; */
    justify-content: center;
  }

  .listfirst {
    margin-bottom: 15%;
  }

  .listfirst2 {
    margin-bottom: 15%;
  }

  .listfirst3 {
    margin-bottom: 15%;
  }

  .titlefirst2 {
    margin: 5%;
    padding: 0px;
  }
}
