.publicationsListWrapper {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.isEven {
  background-color: rgba(243, 243, 243, 1);
}

.publicationsListTitle {
  color: rgba(151, 79, 89, 1);
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  padding: 1.8rem 0 1.2em calc((100% - 70rem) / 2);
}

.publicationsListContent ul {
  list-style-type: none;
  margin-bottom: 2rem;
  padding: 0rem calc((100% - 70rem) / 2) 1.5em calc((100% - 70rem) / 2);
}

.publicationsListContent li {
  margin-bottom: 1rem;
}

.publicationsListContent li > span {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
}

.publicationsListPoint {
  font-family: "Open Sans", sans-serif;
}

.publicationsListStrong {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: red;
}

.publicationsListPage,
.publicationsListPage > a {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
}

.publicationsListPage > a {
  font-weight: 600;
}
