.publicationsWrapper {
  display: flex;
  flex-direction: column;
}

.publicationsTitle {
  min-width: 46rem;
  font-size: 4rem;
  border-bottom: 0.8rem solid rgba(151, 79, 89, 1);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5.5rem;
  padding-top: 5.5rem;
}
